.me-aside
{
    position: absolute;
    width: 100px;
    left: -180px;
    top:0px;
    border:1px solid #ccc;
}

.me-aside a
{
    text-decoration: none;
}

.me-aside a:hover{
    text-decoration: none;
    font-weight: bold;
}

.me-aside a:active{
    text-decoration: none;
    font-weight: bold;
    color: #000;
}
.me-aside a:visited{
    text-decoration: none;
    font-weight: bold;
    color: #000;
}
