.order-head
{
    font-size: 14px;
    height: 28px;
    width: 90%;
    background-color: #00a8a8;
    margin:0 auto;
    margin-top: 3px;
    padding-left: 10px;
    padding-bottom: 2px;
    padding-top: 2px;
}

.order-head>span
{
    color: #f8f8f8;
    line-height: 28px;
    font-size: 22px;
}

.OrderBooks
{
    width: 90%;
    margin: 0 auto;
}

.booklist
{
    border-collapse: collapse;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    background-color: #fdfdfd;
    box-shadow: 0 0 5px #00b4b4;
}

.booklist
{
    border:2px solid #00a8a8;
}

.booklist tr ,.booklist th,.booklist td
{
    border:2px solid #888888;
    padding: 10px;
}

.book-name-td>.book-name
{
    display:block;
    text-decoration: none;
    color: #000;
    margin-top: 2px;
    margin-bottom: 2px;
}


.book-name-td>.book-name:active
{
    text-decoration: #000;
    color: #000;
}

.book-name-td>.book-name:hover
{
    text-decoration: #000;
    color: #000;
}


.book-name-td>.book-name:visited
{
    text-decoration: #000;
    color: #000;
    display: block;
}

.book-price-td>.book-price
{
    font-family: "Arial";
    font-weight: bold;
    font-size: 20px;
    color: #00b4b4;
}

.book-total-td>.book-total
{
    font-family: "Arial";
    font-weight: bold;
    font-size: 20px;
    color: #00b4b4;
}

.list-head
{
    text-align: center;
}

.book-num-td
{
    text-align: center;
}


.book-delete
{
    background-color: #ee0000;
    color: white;
    outline: none;
    border:none;
}

.book-delete:hover
{
    background-color: #cc0000;
}

.allbook-total
{
    font-family: "Arial";
    font-weight: bold;
    font-size: 20px;
    color: #00b4b4;
    text-align: right;
}

.pay-button {
    float: right;
    right: 0px;
    width: 76px;
    background: #20b2aa;
    border: none;
    color: white;
    padding: 10px 18px;
    text-align: center;
    text-decoration: none;
    font-size:20px;
    outline:none;
    border-radius: 2px;
    margin-bottom: 20px;
}
.pay-button:active{
    background: #39cccc;
}

.pay-button:hover{
    background: #39cccc;
}